<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Basic Communication</title>
<script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.1.0.js"></script>
<link rel="stylesheet" href="./assets/common.css" />
</head>
<body class="agora-theme">
<div class="navbar-fixed">
 <nav class="agora-navbar">
   <div class="nav-wrapper agora-primary-bg valign-wrapper">
     <h5 class="left-align">Basic Communication</h5>
   </div>
 </nav>
</div>
<form id="form" class="row col l12 s12">
 <div class="row container col l12 s12">
   <div class="col" style="min-width: 433px; max-width: 443px">
     <div class="card" style="margin-top: 0px; margin-bottom: 0px;">
       <div class="row card-content" style="margin-bottom: 0px;">
           <div class="input-field">
             <label for="appID" class="active">App ID</label>
             <input type="text" placeholder="App ID" name="appID">
           </div>
           <div class="input-field">
             <label for="channel" class="active">Channel</label>
             <input type="text" placeholder="channel" id="channel" name="channel">
           </div>
           <div class="input-field">
             <label for="token" class="active">Token</label>
             <input type="text" placeholder="token" name="token">
           </div>
           <div class="row" style="margin: 0">
             <div class="col s12">
             <button class="btn btn-raised btn-primary waves-effect waves-light" id="join" onclick="joincall()">JOIN</button>
             <button class="btn btn-raised btn-primary waves-effect waves-light" id="leave" onclick="leavecall()">LEAVE</button>
             <button class="btn btn-raised btn-primary waves-effect waves-light" id="publish">PUBLISH</button>
             <button class="btn btn-raised btn-primary waves-effect waves-light" id="unpublish">UNPUBLISH</button>
             </div>
           </div>
       </div>
     </div>
   </div>
   <div class="col s7">
     <div class="video-grid" id="video">
       <div class="video-view">
         <div id="local_stream" class="video-placeholder"></div>
         <div id="local_video_info" class="video-profile hide"></div>
         <div id="video_autoplay_local" class="autoplay-fallback hide"></div>
       </div>
     </div>
   </div>
 </div>
</form>
<script src="vendor/jquery.min.js"></script>
<script src="vendor/materialize.min.js"></script>
<script>
var rtc = {
  client: null,
  joined: false,
  published: false,
  localStream: null,
  remoteStreams: [],
  params: {}
};

// Options for joining a channel
var option = {
  appID: "Your App ID",
  channel: "Channel name",
  uid: null,
  token: "Your token"
};
rtc.client = AgoraRTC.createClient({mode: "rtc", codec: "h264"});


rtc.client.init('b7a11e6751e949018f9b1030069f574a', function () {
  console.log("init success");
  }, (err) => {
  console.error(err);
});

function joincall()
{   var channel = document.getElementById('channel');
    rtc.client.join'(006b7a11e6751e949018f9b1030069f574aIACLGKwxz0I0Qpkesi7I11jPKEuPwT4LZFQie3k8eTOos+F1ZKgAAAAAEADZy+G7DHLrXgEAAQAMcute', channel, option.uid, function (uid) {
    console.log("join channel: " + option.channel + " success, uid: " + uid);
    rtc.params.uid = uid;
  }, function(err) {
    console.error("client join failed", err);
});

rtc.localStream = AgoraRTC.createStream({
  streamID: rtc.params.uid,
  audio: true,
  video: false,
  screen: false,
});
rtc.localStream.init(function () {
  console.log("init local stream success");
  // play stream with html element id "local_stream"
  rtc.localStream.play("local_stream");
}, function (err) {
  console.error("init local stream failed ", err);
});

rtc.client.publish(rtc.localStream, function (err) {
  console.log("publish failed");
  console.error(err);
});
}

rtc.client.on("stream-added", function (evt) {  
  var remoteStream = evt.stream;
  var id = remoteStream.getId();
  if (id !== rtc.params.uid) {
    rtc.client.subscribe(remoteStream, function (err) {
      console.log("stream subscribe failed", err);
    });
  }
  console.log("stream-added remote-uid: ", id);
});

rtc.client.on("stream-subscribed", function (evt) {
  var remoteStream = evt.stream;
  var id = remoteStream.getId();
  // Add a view for the remote stream.
  addView(id);
  // Play the remote stream.
  remoteStream.play("remote_stream_" + id);
  console.log("stream-subscribed remote-uid: ", id);
});

rtc.client.on("stream-removed", function (evt) {
  var remoteStream = evt.stream;
  var id = remoteStream.getId();
  // Stop playing the remote stream.
  remoteStream.stop("remote_stream_" + id);
  // Remove the view of the remote stream. 
  removeView(id);
  console.log("stream-removed remote-uid: ", id);
});

function leavecall(){
    rtc.client.leave(function () {
  // Stop playing the local stream
  rtc.localStream.stop();
  // Close the local stream
  rtc.localStream.close();
  // Stop playing the remote streams and remove the views
  while (rtc.remoteStreams.length > 0) {
    var stream = rtc.remoteStreams.shift();
    var id = stream.getId();
    stream.stop();
    removeView(id);
  }
  console.log("client leaves channel success");
}, function (err) {
  console.log("channel leave failed");
  console.error(err);
});
}

</body>
</html>